* {
    margin:0;
    padding:0;
    font-family:Poppins;
    box-sizing: border-box;
    background-color:black;
}
.about{
    position: relative;
    width:100%;
    display:flex;
    color:#37a47f;
}
.about .contentbx{
padding-left:150px;
padding-top:150px;
padding-right:100px;
width:45%;
}
#heading{
        font-size:30px;
        font-weight:normal;
        letter-spacing:1px;
        margin-bottom:1px;
}
#subheading{
        font-size:35px;
        font-weight:bold;
        letter-spacing:1px;
        margin-bottom:10px;
}
.button {
        background-color: #37a47f;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        border-radius: 20px;
        padding:10px 55px;
        margin-bottom:15px;
}
.button1 {
    border-style:solid;
    border-color:#37a47f;
    background-color: black;
    color:#37a47f;
}
.video{
    display:inline block;
    padding-left:30px;
}
.play{
    font-size:70%;
}

.services{
    margin-top:5%;
    text-align:center;
    color:grey;
    align-items:center;

}
.services .heading1{
    font-size:25px;
    font-weight:10;
    letter-spacing:1px;
    margin-bottom:1px;
    color:#37a47f;
}
.services .j{
    width:41%;
    margin-left:30%;
    margin-right:50%;
}
[class*="col-"] {
    float: left;
    padding: 1px;
}
.right{
      float: right;
}
.column2{
    width:70%;
    float:right;
    padding:5px;
    color:white;
    }
.row{
      padding-top: 5px;
      padding-bottom: 5px;
}


.row::after {
    content: "";
    clear: both;
    display: block;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.column-1{
	width:22%;
	float: left;
    padding: 5px;
    padding-top:5px;
    padding-left:30px;
    margin-left:35%;
}
.column-2{
	width:22%;
	float: left;
    padding: 5px;
    padding-top:5px;
    padding-left:30px;
}
.column{
	width:30%;
	float:left;
    padding:5px;
    color:grey;
    font-size:10px;
    padding-bottom:20px;
    text-align:left;
}
.column h1{
 color:white;
}
.id{
    width:55%;
    height:600px;
    float:right;
    position:relative;
    right:-220px;
}
.image{
    border-radius:50%;
    border-style:solid;
    border:2px solid #37a47f;
    display:inline-block;
    padding:10px;
}
.part_3 {
    margin-top:10%;
	padding-top:10%;
	width:100%;
	height:250px;
	background-color: white;
}
.text{
	text-align: left;
	margin-left: 20%;
    margin-right: 10%;
    height:250px;
    margin-top:10%;
    margin-bottom:5%;
}
#pic-matrix {
    height: calc(100vh - 124px);
    display: block;
}
#pic-matrix .moving {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}
#pic-matrix .moving .mov-p:nth-child(odd) {
    transform: rotate(-30deg) translate(-82%,-193%);
    animation-direction: alternate-reverse;
}
#pic-matrix .moving .mov-p {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: rotate(-30deg) translate(-82%,-91%);
    padding: 5vw;
    animation-name: moveDirection;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-timing-function: linear;
}
#pic-matrix .moving .mov-c {
    margin: 42px;
    width: 33vw;
    background-color: #fff;
    min-height: 37vh;
}
@keyframes moveDirection{
0% {transform: rotate(-30deg) translate(-82%,-193%);}
100% {transform: rotate(-30deg) translate(-82%,-91%);}
}

  @media only screen and (max-width: 768px) {
  /* For mobile phones: */
.about{
    flex-direction:column;
}
.about .contentbx{
    padding:10%;
    width:100%;
    font-size:20px;
    text-align:center;
}
.video{
    display:inline block;
    padding-left:1%;
   }
.id{
    width:90%;
    display:auto;
    margin-right:auto;
    margin-left:auto;
    height:90%;
    overflow:hidden;
    right:0;
}
[class*="col-"] {
      width: 100%;
}
.services .heading1{
        width:90%;
        font-size:20px;
        margin-top:30px;
        margin-left:5%;
}
.services .j{
        width:90%;
        margin-left:5%;
     
}
.column-1{
  width:22%;
  float: left;
  padding:5px;
  padding-top:5px;
  margin-left:0%;
  margin-left:30px;
}
.column-2{
    width:22%;
    float: left;
    padding:5px;
    padding-top:5px;
    margin-left:30px;
  }
.column{
  width:55%;
  float: right;
    padding-top:5px;
    color:grey;
    font-size:20px;
    font-size:12px;
    margin-right:30px;
}

.column h1{
    font-size:18px;
}
.image{
      padding: 10px;
}
.part_3 {
    margin-top:5%;
    padding-top:5%;
    width:90%;
}

.text{
	text-align: left;
	margin-left: 10%;
    margin-right: 10%;
    margin-bottom:0%;
}
  }
@media only screen and (max-width: 1366px) and (min-width:768px){
/* For Ipad*/
.about{
    flex-direction:column;
}
.about .contentbx{
    padding:10%;
    width:100%;
    font-size:20px;
    text-align:center;
}
.video{
    display:inline block;
    padding-left:1%;
   }
.id{
    width:100%;
    margin-right:0%;
    margin-left:0%;
    height:90%;
    overflow:hidden;
    right:0;
}
[class*="col-"] {
      width: 100%;
}
.services .heading1{
        width:90%;
        font-size:20px;
        margin-top:30px;
        margin-left:5%;
}
.services .j{
        width:90%;
        margin-left:5%;
     
}
.about{
    flex-direction:column;
}
.about .contentbx{
    padding:10%;
    width:100%;
    font-size:20px;
    text-align:center;
}
.video{
    display:inline block;
    padding-left:1%;
   }
.id{
    width:90%;
    display:auto;
    margin-right:auto;
    margin-left:auto;
    overflow:hidden;
    right:0;
}
[class*="col-"] {
      width: 100%;
}
.services .heading1{
        width:90%;
        font-size:20px;
        margin-top:30px;
        margin-left:5%;
}
.services .j{
        width:90%;
        margin-left:5%;
     
}
.column-1{
  width:30%;
  float: left;
  padding:5px;
  padding-top:5px;
  margin-left:0%;
  margin-left:100px;
}
.column-2{
    width:30%;
    float: left;
    padding:5px;
    padding-top:5px;
    margin-left:100px;
  }
.column{
  width:40%;
  float: right;
    padding-top:5px;
    color:grey;
    font-size:20px;
    font-size:12px;
    margin-right:120px;
}
.column h1{
    font-size:18px;
}
.image{
      padding: 10px;
}
.part_3 {
    margin-top:5%;
    padding-top:5%;
    width:90%;
}

.text{
	text-align: left;
	margin-left: 10%;
    margin-right: 10%;
    margin-bottom:0%;
}
    
    

}
@media only screen and (max-width: 1366px) and (min-width:1024px){
    /* For Ipad Pro*/
       
        .column-1{
          width:30%;
          float: left;
          padding:5px;
          padding-top:5px;
          margin-left:0%;
          margin-left:180px;
        }
        .column-2{
            width:30%;
            float: left;
            padding:5px;
            padding-top:5px;
            margin-left:180px;
          }
        .column{
          width:30%;
          float: right;
            padding-top:5px;
            color:grey;
            font-size:20px;
            font-size:12px;
            margin-right:22%;
        }
        
    }